<%= form_for(@through_table) do |f| %>
  <% if @through_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@through_table.errors.count, "error") %> prohibited this through_table from being saved:</h2>

      <ul>
      <% @through_table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :through_reference_id %><br />
    <%= f.select :through_reference_id, options_from_collection_for_select(@through_references, "id", "description") %>
  </div>
  <div class="field">
    <%= f.label :lookup_id %><br />
    <%= f.select :lookup_id, options_from_collection_for_select(@lookups, "id", "name") %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
