<h1>Listing fk_references</h1>

<table>
  <tr>
    <th>Lookup ID</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fk_references.each do |fk_reference| %>
  <tr>
    <td><%= fk_reference.lookup.id %></td>
    <td><%= fk_reference.description %></td>
    <td><%= link_to 'Show', fk_reference %></td>
    <td><%= link_to 'Edit', edit_fk_reference_path(fk_reference) %></td>
    <td><%= link_to 'Destroy', fk_reference, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fk reference', new_fk_reference_path %>
